.pi__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
}

.pi__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all .3s ease-in-out;
}

.pi__card:hover {
    transform: translateY(-10px);
}

.pi__card:nth-child(1) {
    background-color: rgb(0, 116, 217);
    box-shadow: 0px 5px 20px rgb(0, 116, 217 / 50%);
}

.pi__card:nth-child(2) {
    background-color: rgb(155, 89, 182);
    box-shadow: 0px 5px 20px rgb(155, 89, 182 / 50%);
}

.pi__card:nth-child(3) {
    background-color: rgb(255, 236, 33);
    box-shadow: 0px 5px 20px rgb(243, 156, 18 / 50%);
}

.pi__img {
    margin-bottom: 1.25rem;
}

.pi__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: #fff;
}

.pi__description {
    color: #f8f9fa;
    text-align: center;
}

.pi__card:nth-child(3) .pi__title {
    color: var(--title-color);
}

.pi__card:nth-child(3) .pi__description {
    color: var(--text-color);
}

@media screen and (max-width: 1024px) {
    .pi__container {
        grid-template-columns: repeat(2, 230px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .pi__container {
        grid-template-columns: 310px;
    }
}

@media screen and (max-width: 350px) {
    .pi__container {
        grid-template-columns: 1fr;
    }
}